html,
body {
  height: 100%;
  background-color: #fff;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-family: Arial;
  font-size: 14px;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .4);
}

header, main, footer {
    z-index: 1;
}

a,
a:focus,
a:hover {
  color: #000;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #000;
  border: .05rem solid #000;
}

.cover-container {
  max-width: 45em;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(0, 0, 0, .3);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .2);
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #000;
  border-bottom-color: #000;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(0, 0, 0, .7);
}

/*
 * Leeds override styles
 */
body[bg] {
  color: #fff !important;
  background: rgba(0, 0, 0, .5) url(../images/leeds-night.jpg) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body[bg] a,
body[bg] a:focus,
body[bg] a:hover {
  color: #fff !important;
}

body[bg] .nav-masthead .active {
  border-bottom-color: #fff !important;
}

body[bg] .cover {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

body[bg] .mastfoot {
  color: #fff;
}

/*
 * Contact
 */
.alternative-contact {
  padding-top: 1rem;
}

/*
 * cookie-moster
 */
#cookie-moster {
    position: fixed;
    z-index: 0;
    width: 100%;
    height:100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

#say-hi {
    position: absolute;
    bottom: -50%;
    right: 0;
    width: 50%;
    height: 50%;
    background: url(../images/cookies.jpg) no-repeat;
    background-size: 58%;
    background-position: bottom;
    -webkit-animation: say-hello 5s forwards; /* Safari 4+ */
    -moz-animation: say-hello 5s forwards; /* Fx 5+ */
    -o-animation: say-hello 5s forwards; /* Opera 12+ */
    animation: say-hello 5s forwards; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes say-hello {
    0%   { bottom: -50%; }
    25%   { bottom: -50%; }
    100% { bottom: 0%; }
}
@-moz-keyframes say-hello {
    0%   { bottom: -50%; }
    25%   { bottom: -50%; }
    100% { bottom: 0%; }
}
@-o-keyframes say-hello {
    0%   { bottom: -50%; }
    25%   { bottom: -50%; }
    100% { bottom: 0%; }
}
@keyframes say-hello {
    0%   { bottom: -50%; }
    25%   { bottom: -50%; }
    100% { bottom: 0%; }
}
