body {
    font-family: Arial;
    font-size: 14px;
}

#cookie-moster {
    position: fixed;
    z-index: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
}

#say-hi {
    position: absolute;
    bottom: -50%;
    right: 0;
    width: 50%;
    height: 50%;
    background: url(cookies.jpg) no-repeat;
    background-size: 60%;
    background-position: bottom;
    -webkit-animation: say-hello 5s forwards; /* Safari 4+ */
    -moz-animation: say-hello 5s forwards; /* Fx 5+ */
    -o-animation: say-hello 5s forwards; /* Opera 12+ */
    animation: say-hello 5s forwards; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes say-hello {
    0%   { bottom: -50%; }
    25%   { bottom: -50%; }
    100% { bottom: 0%; }
}
@-moz-keyframes say-hello {
    0%   { bottom: -50%; }
    25%   { bottom: -50%; }
    100% { bottom: 0%; }
}
@-o-keyframes say-hello {
    0%   { bottom: -50%; }
    25%   { bottom: -50%; }
    100% { bottom: 0%; }
}
@keyframes say-hello {
    0%   { bottom: -50%; }
    25%   { bottom: -50%; }
    100% { bottom: 0%; }
}
