<!doctype html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} | Adam Bell</title>
        {% if page.no_index %}
        <meta name="robots" content="noindex">
        {% endif %}
        <meta name="author" content="Adam Bell">
        <meta name="description" content="{{ page.description | append:' Created by Adam Bell, web developer from Leeds, UK.' }}">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> 
        <link rel="stylesheet" type="text/css" href="/css/styles.css">       
        {% if page.cookiebot %}
            {% include cookiebot.html %}
        {% endif %}
        {% include gtm.html %}
    </head>
    <body {% if page.show_background %}bg{% endif %}>
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand">Adam's Playground</h3>
                    <nav class="nav nav-masthead justify-content-center">
                        {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %} 
                        {% for item in navigation_pages %} 
                            {% if item.navigation_weight and page.url == item.url %}
                                <a class="nav-link active" href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
                            {% elsif item.navigation_weight %}
                                <a class="nav-link" href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
                            {% endif %} 
                        {% endfor %}
                    </nav>
                </div>
            </header>

            <main role="main" class="inner cover">
                <div class="container">
                {{ page.content }}
                </div>
            </main>
            
            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>&copy; Adam Bell 2018. Leeds, UK. <a href="/contact.html" alt="contact me">Contact</a>.</p>
                </div>
                
            </footer>

            {% if page.cookies %}          
                {% include cookie-monster.html %}
            {% endif %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" 
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" 
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" 
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" 
            crossorigin="anonymous"></script>
        {% if page.cookiebot %}
            {% include cookiebot-callback.html %}
        {% endif %}
    </body>
</html>